
        <!-- add the header for file -->
        <a> <%- include('header') %> </a>

        <header>
            <div class="container">
                <div class="logo">
                    <a href="/"><img src="img/logo.png" alt=""/></a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="sectionI">Gait Analysis</a></li>
                        <li><a href="sectionII">Gait Profile</a></li>
                        <li><a href="sectionIII">Where you going?</a></li>
                        <li><a href="sectionIV">Canabalt</a></li>
                    </ul>
                </div>
                <div class="mobile-menu"><i class="fa fa-bars"></i></div>
            </div>
        </header>

        <div class="home-slider">
            <div class="home-slider--wrapper">
                <div>
                    <div class="home-slider--wrapper__inner" style="background-image: url('img/shoe_bg.jpg')">
                        <div class="container">
                            <h1>WELCOME TO GAITAN</h1></br>
                            <div class="dot-dash">.</div>
                            <p style="font-size: 20px">Gait analysis is widely used in sport biomechanics to enhance athletes’ efficiency
                                in performing movements. We created a shoe that does just that. Click below to learn more.</p>
                            <div class="slider-buttons">
                                <a href="#" class="button button-w">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-slider--anchor">
                <span><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
            </div>
        </div>

        <div class="wrapper">
            <section class="four-elements">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="four-elements--image"><i class="fa fa-shoe-prints" aria-hidden="true"></i></div>
                            <h3>Gait Analysis</h3>
                            <p style="font-size: 15px">In this feature you will be able to visualize step length, stride length, cadence, speed, step count, and graphs for each force sensor.</p>
                            <a href="sectionI" class="button small" style="margin: auto; margin-bottom: 40px;">Go to Section I</a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="four-elements--image"><i class="fa fa-walking" aria-hidden="true"></i></div>
                            <h3>Gait Profile</h3>
                            <p style="font-size: 15px">Everyone has a distinct profile of walking whether its in-toe, out-toe, or parallel. This feature is able to detect every profile of walking!</p>
                            <a href="sectionII" class="button small" style="margin: auto; margin-bottom: 40px;">Go to Section II</a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="four-elements--image"><i class="fa fa-child" aria-hidden="true"></i></div>
                            <h3>Where you going?</h3>
                            <p style="font-size: 15px">With this feature you can use your shoe to detect motion and automatically detect which direction you are currently moving in.</p>
                            <a href="sectionIII" class="button small" style="margin: auto; margin-bottom: 40px;">Go to Section III</a>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="four-elements--image"><i class="fa fa-gamepad" aria-hidden="true"></i></div>
                            <h3>Canabalt</h3>
                            <p style="font-size: 15px">In this feature, you can use your shoe to play a game called Canabalt where you are the fastest man alive and the world is out to get you.</p>
                            <a href="sectionIV" class="button small" style="margin: auto; margin-bottom: 40px;">Go to Section IV</a>
                        </div>
                    </div>
                </div>
            </section>


        </div>

    </body>
</html>