
        <!-- add the header for file -->
        <a> <%- include('header') %> </a>

        <header>
            <div class="container">
                <div class="logo">
                    <a href="/"><img src="img/logo.png" alt=""/></a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="sectionI">Gait Analysis</a></li>
                        <li><a href="sectionII">Gait Profile</a></li>
                        <li><a href="sectionIII">Where you going?</a></li>
                        <li><a href="sectionIV">Canabalt</a></li>
                    </ul>
                </div>
                <div class="mobile-menu"><i class="fa fa-bars"></i></div>
            </div>
        </header>

        <div class="intro-page" style="background-image: url('img/biomech_bg.png');">
            <div class="container">
                <h1>Section II</h1>
                <p>This section analyzes your walking profile.</p>
            </div>
        </div>

        <div class="wrapper">
            <div class="our-history">
                <div class='container'>
                    <div class="row">
                        <div class="col-lg-4">
                            <div style="height: 100%" class="card">
                                <h4 style="text-align: center" id="StanceType">stance type</h4>
                                <h4 style="text-align: center;">Profile</h4>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card">
                                <div id="HeatMapContainer" class="card-body" style="text-align: center">
                                    <!-- <canvas width="219px" height="480px" id="HeatMap"></canvas> -->
                                    <canvas width="329px" height="720px" data-processing-sources="processing/heatmap.pde"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--
        <script>
            // global variables
            let img;
            let socket;

            // preload the image file
            function preload() {
                img = loadImage('img/foot.png');
            }

            // place the canvas in the div container and place the image
            // of the foot on the canvas
            function setup(){
                socket = io(); // connect to server

                colorMode(HSB);
                
                // create on the card and place image on it
                let cnv = createCanvas(329, 720);
                cnv.parent('HeatMapContainer');
                image(img, 0, 0, 329, 720);
            }

            function draw() {
                if (mouseIsPressed) {
                    fill(0);
                } else {
                    fill(255);
                }
                ellipse(mouseX, mouseY, 80, 80);
            }

        </script>
        -->

    </body>
</html>