
        <!-- add the header for file -->
        <a> <%- include('header') %> </a>

        <header>
            <div class="container">
                <div class="logo">
                    <a href="/"><img src="img/logo.png" alt=""/></a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="sectionI">Gait Analysis</a></li>
                        <li><a href="sectionII">Gait Profile</a></li>
                        <li><a href="sectionIII">Where you going?</a></li>
                        <li><a href="sectionIV">Canabalt</a></li>
                    </ul>
                </div>
                <div class="mobile-menu"><i class="fa fa-bars"></i></div>
            </div>
        </header>

        <div class="intro-page" style="background-image: url('img/biomech_bg.png');">
            <div class="container">
                <h1>Section II</h1>
                <p>This section analyzes your walking profile.</p>
            </div>
        </div>

        <div class="wrapper">
            <div class="our-history">
                <div class='container'>
                    <div class="row">
                        <div class="col-lg-4">
                            <div style="height: 100%" class="card">
                                <h4 style="text-align: center" id="StanceType">bruh</h4>
                                <h4 style="text-align: center;">Profile</h4>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body" style="text-align: center">
                                    <canvas width="219px" height="480px" style="width: 55%;" id="HeatMap"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img id="fut" src="img/foot.png" style="visibility: hidden;" />
                </div>
            </div>
        </div>

        <script>
            window.onload = function() {
                var canvas = document.getElementById("HeatMap");
                var ctx = canvas.getContext("2d");
                var img = document.getElementById("fut");
                ctx.drawImage(img, 0, 0);
            };
        </script>

    </body>
</html>