
        <!-- add the header for file -->
        <a> <%- include('header') %> </a>

        <header>
            <div class="container">
                <div class="logo">
                    <a href="/"><img src="img/logo.png" alt=""/></a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="sectionI">Gait Analysis</a></li>
                        <li><a href="sectionII">Gait Profile</a></li>
                        <li><a href="sectionIII">Where you going?</a></li>
                        <li><a href="sectionIV">Canabalt</a></li>
                    </ul>
                </div>
                <div class="mobile-menu"><i class="fa fa-bars"></i></div>
            </div>
        </header>

        <div class="intro-page" style="background-image: url('img/gait_bg.jpg');">
            <div class="container">
                <h1>Section III</h1>
                <p>This section analyzes the moition of travel and tells you which direction you are walking in.</p>
            </div>
        </div>

        <div class="wrapper">
            <div class="our-history">
                <div class="container">

                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="card" style="border: none;">
                                <div class="card-body" style="text-align: center;">
                                    <img id="arrow-up" src="img/arrow-up.png" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card" style="border: none;">
                                <div class="card-body" style="text-align: center;">
                                    <img id="arrow-left" src="img/arrow-left.png" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card" style="height: 100%; border: none;">
                                <div class="card-body align-items-center d-flex justify-content-center">
                                    <h1 id="direction" style="text-align: center;">direction</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card" style="border: none;">
                                <div class="card-body" style="text-align: center;">
                                    <img id="arrow-right" src="img/arrow-right.png" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="card" style="border: none;">
                                <div class="card-body" style="text-align: center;">
                                    <img id="arrow-down" src="img/arrow-down.png" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>

                </div>
            </div>
        </div>

    </body>

    <script>
        var socket = io(); // connect to server

        // dirs[0], dirs[1], dirs[2], dirs[3] 
        // maps to up, down, left, right respectively
        var dirs = [
            document.getElementById('arrow-up'),
            document.getElementById('arrow-down'),
            document.getElementById('arrow-left'),
            document.getElementById('arrow-right')
        ]

        // get the data from the arduino and change the text and select image
        socket.on('data', function(data){
            document.getElementById('direction').innerHTML = data.data;

            // change background of image depending on which direction the user is walking
            if(data.data == "Moving Forward"){
                changeColors(0)
            } else if (data.data == "Moving Backwards"){
                changeColors(1);
            } else if (data.data == "Moving Left"){
                changeColors(2);
            } else if (data.data == "Moving Right"){
                changeColors(3);
            } else {
                changeColors(-1);
            }

        });

        // function which changes the color of the background of image
        function changeColors(val){
            for(var i = 0; i < dirs.length; i++){
                if(i == val){
                    dirs[i].style.backgroundColor = "lightgreen";
                } else {
                    dirs[i].style.backgroundColor = "white";
                }
            }
        }

    </script>
</html>