
        <!-- add the header for file -->
        <a> <%- include('header') %> </a>

        <header>
            <div class="container">
                <div class="logo">
                    <a href="/"><img src="img/logo.png" alt=""/></a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="sectionI">Section I</a></li>
                        <li><a href="sectionII">Section II</a></li>
                        <li><a href="sectionIII">Section III</a></li>
                        <li><a href="sectionIV">Section IV</a></li>
                    </ul>
                </div>
                <div class="mobile-menu"><i class="fa fa-bars"></i></div>
            </div>
        </header>

        <div class="intro-page" style="background-image: url('/img/shoe_bg.jpg')">
            <div class="container">
                <h1>Section I</h1>
                <p>In this section you can visualize step length, stride length, cadence, speed, step count, and graphs for the force sensors.</p>
            </div>
        </div>

        <div class="wrapper">
            <div class="our-blog">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div style="height: 100%" class="card">
                                <h4 style="text-align: center" id="StepLength">0</h4>
                                <h4 style="text-align: center;">Step Length</h4>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <canvas height="75" id="Sensor1"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-lg-4">
                            <div style="height: 100%" class="card">
                                <h4 style="text-align: center" id="StrideLength">0</h4>
                                <h4 style="text-align: center;">Stride Length</h4>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <canvas height="75" id="Sensor2"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-lg-4">
                            <div style="height: 100%" class="card">
                                <h4 style="text-align: center" id="Cadence">0</h4>
                                <h4 style="text-align: center;">Cadence [Number of steps per minute]</h4>
                            </div>
                        </div>
                        
                    </div>
        
                    <div class="row">
                        <div class="col-lg-4">
                            <div style="height: 100%" class="card">
                                <h4 style="text-align: center" id="Speed">0</h4>
                                <h4 style="text-align: center;">Speed</h4>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <canvas height="75" id="Sensor3"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-lg-4">
                            <div style="height: 100%" class="card">
                                <h4 style="text-align: center" id="StepCount">0</h4>
                                <h4 style="text-align: center;">Step Count</h4>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <canvas height="75" id="Sensor4"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </br></br></br></br></br></br>

        <script>
            window.onload = function(){

                var socket = io(); // connect to the server

                // Globals
                var updateCount = 0;

                // chart objects
                var sensor1 = document.getElementById('Sensor1').getContext('2d');
                var sensor2 = document.getElementById('Sensor2').getContext('2d');
                var sensor3 = document.getElementById('Sensor3').getContext('2d');
                var sensor4 = document.getElementById('Sensor4').getContext('2d');
                
                // config for the chart
                var config = {
                    legend: {display: false},
                    tooltips: {
                        enabled: false
                    }
                }

                // create chart for Medial Forefoot
                var MFchart = new Chart(sensor1, {
                    type: 'line',
                    data: {
                        labels: [],
                        datasets: [{
                            label: "Medial Forefoot",
                            data: [],
                            fill: false,
                            borderColor: '#3498DB',
                            borderWidth: 2,
                            pointRadius: 0
                        }]
                    },
                    options: Object.assign({}, config, {
                        title:{
                            display: true,
                            text: "Medial Forefoot",
                            fontSize: 22
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    suggestedMax: 700,
                                    suggestedMin: 300
                                }
                            }],
                            xAxes: [{ // hide the x-axes since we dont really need em
                                ticks: {
                                    display: false
                                }
                            }]
                        }
                    })
                });

                // create chart for Lateral Mid-foot
                var LFchart = new Chart(sensor2, {
                    type: 'line',
                    data: {
                        labels: [],
                        datasets: [{
                            label: "Lateral Mid-foot",
                            data: [],
                            fill: false,
                            borderColor: '#3498DB',
                            borderWidth: 2,
                            pointRadius: 0
                        }]
                    },
                    options: Object.assign({}, config, {
                        title:{
                            display: true,
                            text: "Lateral Mid-foot",
                            fontSize: 22
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    suggestedMax: 700,
                                    suggestedMin: 300
                                }
                            }],
                            xAxes: [{ // hide the x-axes since we dont really need em
                                ticks: {
                                    display: false
                                }
                            }]
                        }
                    })
                });

                // create chart for Lateral Mid-foot
                var MMchart = new Chart(sensor3, {
                    type: 'line',
                    data: {
                        labels: [],
                        datasets: [{
                            label: "Medial Mid-foot",
                            data: [],
                            fill: false,
                            borderColor: '#3498DB',
                            borderWidth: 2,
                            pointRadius: 0
                        }]
                    },
                    options: Object.assign({}, config, {
                        title:{
                            display: true,
                            text: "Medial Mid-foot",
                            fontSize: 22
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    suggestedMax: 700,
                                    suggestedMin: 300
                                }
                            }],
                            xAxes: [{ // hide the x-axes since we dont really need em
                                ticks: {
                                    display: false
                                }
                            }]
                        }
                    })
                });

                // create chart for Lateral Mid-foot
                var HEELchart = new Chart(sensor4, {
                    type: 'line',
                    data: {
                        labels: [],
                        datasets: [{
                            label: "Heel",
                            data: [],
                            fill: false,
                            borderColor: '#3498DB',
                            borderWidth: 2,
                            pointRadius: 0
                        }]
                    },
                    options: Object.assign({}, config, {
                        title:{
                            display: true,
                            text: "Heel",
                            fontSize: 22
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    suggestedMax: 700,
                                    suggestedMin: 300
                                }
                            }],
                            xAxes: [{ // hide the x-axes since we dont really need em
                                ticks: {
                                    display: false
                                }
                            }]
                        }
                    })
                });

            }
        </script>

    </body>
</html>