
        <!-- add the header for file -->
        <a> <%- include('header') %> </a>

        <header>
            <div class="container">
                <div class="logo">
                    <a href="/"><img src="img/logo.png" alt=""/></a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="sectionI">Gait Analysis</a></li>
                        <li><a href="sectionII">Gait Profile</a></li>
                        <li><a href="sectionIII">Where you going?</a></li>
                        <li><a href="sectionIV">Canabalt</a></li>
                    </ul>
                </div>
                <div class="mobile-menu"><i class="fa fa-bars"></i></div>
            </div>
        </header>

        <div class="intro-page" style="background-image: url('img/controller_bg.jpg')">
            <div class="container">
                <h1>Section IV</h1>
                <p>To play the game simply tap your foot on the ground to jump across platforms</p>
            </div>
        </div>

        <div class="wrapper">
            <section class="our-blog">
                <div class="container">
                    <h2 style="font-size: 50px;">Canabalt</h1>
                    <h2>You're the fastest man alive and the world is out to get you.</h2>
                    <p style="font-style: italic; font-size: 22px">Start your daring escape.</p>
                    <span class="dot-dash dark">.</span>
                </div>
            </section>

            <section class="get-started" style="background-image: url('img/canabalt_bg.jpg')">
                <div class="container" style="text-align: center">
                    <canvas>
                        <script type="text/javascript" src="js/game.js"></script>
                    </canvas>
                </div>
            </section>
        </div>
    </body>
</html>