
        <!-- add the header for file -->
        <a> <%- include('header') %> </a>

        <header>
            <div class="container">
                <div class="logo">
                    <a href="/"><img src="img/logo.png" alt=""/></a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="sectionI">Section I</a></li>
                        <li><a href="sectionII">Section II</a></li>
                        <li><a href="sectionIII">Section III</a></li>
                        <li><a href="sectionIV">Section IV</a></li>
                    </ul>
                </div>
                <div class="mobile-menu"><i class="fa fa-bars"></i></div>
            </div>
        </header>

        <div class="intro-page" style="background-image: url('/img/shoe_bg.jpg')">
            <div class="container">
                <h1>Section I</h1>
                <p>In this section you can visualize step length, stride length, cadence, speed, step count, and graphs for the force sensors.</p>
            </div>
        </div>

        <div class="wrapper">
            <div class="our-blog">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div style="height: 100%" class="card">
                                <h4 style="text-align: center" id="StepLength">0</h4>
                                <h4 style="text-align: center;">Step Length</h4>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <canvas height="100" id="Sensor1"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-lg-4">
                            <div style="height: 100%" class="card">
                                <h4 style="text-align: center" id="StrideLength">0</h4>
                                <h4 style="text-align: center;">Stride Length</h4>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <canvas height="100" id="Sensor2"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-lg-4">
                            <div style="height: 100%" class="card">
                                <h4 style="text-align: center" id="Cadence">0</h4>
                                <h4 style="text-align: center;">Cadence [Number of steps per minute]</h4>
                            </div>
                        </div>
                        
                    </div>
        
                    <div class="row">
                        <div class="col-lg-4">
                            <div style="height: 100%" class="card">
                                <h4 style="text-align: center" id="Speed">0</h4>
                                <h4 style="text-align: center;">Speed</h4>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <canvas height="100" id="Sensor3"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-lg-4">
                            <div style="height: 100%" class="card">
                                <h4 style="text-align: center" id="StepCount">0</h4>
                                <h4 style="text-align: center;">Step Count</h4>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <canvas height="100" id="Sensor4"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>