
        <!-- add the header for file -->
        <a> <%- include('header') %> </a>

        <header>
            <div class="container">
                <div class="logo">
                    <a href="/"><img src="img/logo.png" alt=""/></a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="sectionI">Section I</a></li>
                        <li><a href="sectionII">Section II</a></li>
                        <li><a href="sectionIII">Section III</a></li>
                        <li><a href="sectionIV">Section IV</a></li>
                    </ul>
                </div>
                <div class="mobile-menu"><i class="fa fa-bars"></i></div>
            </div>
        </header>

        <div class="intro-page" style="background-image: url('img/biomech_bg.png');">
            <div class="container">
                <h1>Section II</h1>
                <p>This section analyzes your walking profile.</p>
            </div>
        </div>

        <div class="wrapper">
            <div class="our-history">
                <div class='container'>
                    <div class="row">
                        <div class="col-lg-4">
                            <div style="height: 100%" class="card">
                                <h4 style="text-align: center" id="StanceType">0</h4>
                                <h4 style="text-align: center;">Profile</h4>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <canvas height="100" id="HeatMap"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>