
        <!-- add the header for file -->
        <a> <%- include('header') %> </a>

        <header>
            <div class="container">
                <div class="logo">
                    <a href="/"><img src="img/logo.png" alt=""/></a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="sectionI">Section I</a></li>
                        <li><a href="sectionII">Section II</a></li>
                        <li><a href="sectionIII">Section III</a></li>
                        <li><a href="sectionIV">Section IV</a></li>
                    </ul>
                </div>
                <div class="mobile-menu"><i class="fa fa-bars"></i></div>
            </div>
        </header>

        <div class="intro-page" style="background-image: url('img/gait_bg.jpg');">
            <div class="container">
                <h1>Section III</h1>
                <p>This section analyzes the moition of travel and tells you which direction you are walking in.</p>
            </div>
        </div>

    </body>
</html>