
        <!-- add the header for file -->
        <a> <%- include('header') %> </a>

        <header>
            <div class="container">
                <div class="logo">
                    <a href="/"><img src="img/logo.png" alt=""/></a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="sectionI">Gait Analysis</a></li>
                        <li><a href="sectionII">Gait Profile</a></li>
                        <li><a href="sectionIII">Where you going?</a></li>
                        <li><a href="sectionIV">Canabalt</a></li>
                    </ul>
                </div>
                <div class="mobile-menu"><i class="fa fa-bars"></i></div>
            </div>
        </header>

        <div class="intro-page" style="background-image: url('img/biomech_bg.png');">
            <div class="container">
                <h1>Section II</h1>
                <p>This section analyzes your walking profile.</p>
            </div>
        </div>

        <div class="wrapper">
            <div class="our-history">
                <div class='container'>

                    <div class="row justify-content-lg-center">
                        <div class="card col-lg-4" style="border: none;">
                            <div class="card-body">
                                <h4 style="text-align: center;">PARALLEL</h4>
                                <img src="img/parallel.png" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="card" style="border: none">
                                    <div  class="card-body" style="text-align: center;">
                                        <h4 style="text-align: center;">IN-TOEING</h4>
                                        <img id="in-toe" src="img/in-toe.png" />
                                    </div>
                                </div>
                                <div class="card" style="border: none">
                                    <div  class="card-body" style="text-align: center;">
                                        <h4 style="text-align: center;">HEEL</h4>
                                        <img id="heel" src="img/heel.jpg" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="card" style="border: none">
                                <div id="HeatMapContainer" class="card-body" style="text-align: center; padding: 0%;">
                                    <canvas width="329px" height="720px" data-processing-sources="processing/heatmap.pde"></canvas>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="row">
                                <div class="card" style="border: none">
                                    <div class="card-body" style="text-align: center;">
                                        <h4 style="text-align: center;">OUT-TOEING</h4>
                                        <img id="out-toe" src="img/out-toe.png" />
                                    </div>
                                </div>
                                <div class="card" style="border: none;">
                                    <div class="card-body" style="text-align: center;">
                                        <h4 style="text-align: center;">TIP-TOEING</h4>
                                        <img id="tip-toe" src="img/tip-toes.jpg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script>

        </script>

    </body>
</html>